name: Lint

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  super-linter:
    name: super-linter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Super-Linter
        uses: docker://github/super-linter:slim-v4
        env:
          VALIDATE_ALL_CODEBASE: "true"
          DEFAULT_BRANCH: "main"
